body {
    background-color: #f4f4f9; 
}

main {
    padding-top: 80px; 
    flex-grow: 1; 
}

.container {
    padding: 0; 
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

p.lead {
    color: #666;
    font-size: 1.1em;
}

/* Estilo para o texto do rodapé */
.footer-text {
    color: #fff !important; 
    opacity: 1 !important; 
}

@media (max-width: 600px) {
    main {
        padding-top: 60px;
    }
    h1 {
        font-size: 1.5em;
    }
    p.lead {
        font-size: 1em;
    }
}